.type {
  float: left;
  margin: auto;
}

.type_button {
  border-radius: 50%;
}

.type_button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.25), 0 17px 50px 0 rgba(0,0,0,0.5);
}

.type_image {

}

.type_image:hover {
}

.container {
  display: flex;
  align-content: center;
  margin: auto;
  width: 50%;
}

#results {
  margin: auto;
  width: 50%;
  padding: 4%;
  text-align: right;
  font-family: Helvetica;
}

#grass {
  background-color: green;
}

#water {
  background-color: blue;
}

#fire {
  background-color: red;
}

h1 {
  margin: auto;
  padding: 2%;
  width: 50%;
  text-align: left;
  font-family: Helvetica;
  font-size: 3em;
}

body {
  background: #FFC77A;
}
